.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  padding-top: 80px; /* reserve space for navbar height */
  background-color: #f5f5f5;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
